html
 head
   link(rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css")
   link(rel="stylesheet" href="css/rutan.css")
   title Leaflet test
 body
  div#data_overlay
  div#map
  script(src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js")
  script(src="data/puntos.js")
  script(src="data/poligonos.js")
  script(src="data/lineas.js")
  script(src="js/rutan.js")
